<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">
	<targets>
		<!--写文件-->
		<target name="file" xsi:type="File"
            fileName="${basedir}/logs/${level}/${shortdate}.log"
            maxArchiveFiles="28"/>
		<!-- 写库 -->
		<target name="db" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target type="Database" dbProvider="mssql" connectionString="data source=.;initial catalog=DB_Ris;user id=sa;password=123;">
				<!--<target type="Database" dbProvider="mssql" connectionString="data source=1.15.78.132;initial catalog=DB_Ris;user id=sa;password=123;">-->
				<commandText>
					INSERT INTO tb_LogInfo(LogTime,LogType,Content,WorkID) VALUES(@logTime, @level, @message, @workID);
				</commandText>
				<!-- database connection parameters -->
				<parameter name="@logTime" layout="${date}" />
				<parameter name="@level" layout="${level:uppercase=true}" />
				<parameter name="@message" layout="${message}" />
				<parameter name="@workID" layout="${event-context:item=WorkID}" />
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" level="Info" writeTo="file" />
		<logger name="*" level="Error" writeTo="file" />
		<logger name="*" level="Info" appendTo="db" />
	</rules>
</nlog>